.all{
  background-color: #f2f2f2;
  font-family: "DejaVu Serif", sans-serif ;
  font-size: medium;
  margin-bottom: 20px;

}
.titulocrono{
  background-color: #2d3246;
}
.titulocrono2{
  font-size: 30px;
  color: white;
}
.container.clearfix > p {
  margin-bottom: 20px;
}
.contenido{
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}
.cronograma{
  text-decoration: underline;
  font-family: Norasi, sans-serif;
}

.txt1{
  font-family: Norasi, sans-serif;
  font-size: 20px;
}

.tabla{
background-color: lightgray;
  font-family: Norasi, sans-serif;
  font-size: 18px;
}

.linkdescarga{
  font-size: 19px;
  font-family: Norasi, sans-serif;
}
/*
@media screen and (max-width: 600px){
  .tabla{
    transform: scale(0.85);
  }
}
@media screen and (max-width: 1000px){
  .tabla{
    transform: scale(0.90);
  }
}
*/