
  <header class="style-3">
  <div class="page-title titulocrono">
    <div class="container clearfix ">
      <div class="sixteen columns">
        <h1 class="titulocrono2" align="center">{{titulo}}</h1>
      </div>
    </div>
  </div>
  </header>
  <div class="col-xs-12 all">
      <div class="container-fluid contenido">
  <div class="row">
  <div class="col-sm 12">
   <!--
  <h4>{{activ1}}</h4>
    <h5>{{txt1}}</h5>
    <h4>{{activ2}}</h4>
    <h5>{{txt2}}</h5>
    -->
    <br>
    <h4 class="txt1">La Maestría cuenta con un plan de estudio compuesto por materias obligatorias y optativas a realizar.</h4>
    <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="Plan de estudios">
      Descargar plan de estudios según de creación (Ordenanza 890/17)
    </a>
    <br>
    <h4 class="txt1"><u>Cronograma de Cursos 2021</u>: Para conocer información de días, horarios y lugares de cursado ir al siguiente enlace:
      <a target="_blank" href="http://faiweb.uncoma.edu.ar/index.php/investigacion-y-postgrado/86-investigacion-y-postgrado/cursos">horarios de cursos</a>
    </h4>

    <br>
    <table class="table table-hover tabla">
      <tr>
        <th>Curso</th>
        <th>Docente</th>
        <th>Mes</th>
      </tr>
      <tr>

        <td>Computación Orientada a Servicios</td>
        <td>Dr. GARRIGA Martín</td>
        <td>Marzo</td>
      </tr>
      <tr>
        <td>Tópicos Avanzados en Redes Locales</td>
        <td>Mg. ZANELLATO, Claudio</td>
        <td>Abril</td>
      </tr>
      <tr>

        <td>Métodos y Modelos Computacionales Aplicados</td>
        <td>Mg. VILAS BOAS MARTINS, Adair</td>
        <td>Mayo</td>
      </tr>
      <tr>

        <td>Análisis de Rendimiento de Aplicaciones Paralelas</td>
        <td>Dr. BALLADINI, Javier</td>
        <td>Junio</td>
      </tr>
      <tr>

        <td>Metodología de la Investigación</td>
        <td>Dra. ARANDA, Gabriela</td>
        <td>Agosto</td>
      </tr>
      <tr>

        <td>Ingeniería de Software Empírica</td>
        <td>Dr. REYNOSO, Luis</td>
        <td>Septiembre</td>
      </tr>

      <tr>

        <td> Tópicos Formales en Criptografía</td>
        <td>Dr. PARRA, Gerardo</td>
        <td>Octubre</td>
      </tr>

      <tr>

        <td> Big Data: Procesos, Componentes y Herramientas</td>
        <td>Dra. BUCCELLA, Agustina</td>
        <td>Noviembre</td>
      </tr>

    </table>
   <!-- <table class="table table-hover tabla">
      <tr>
        <th>Nombre del Curso</th>
        <th>Caracter (Obligatorio o Electivo)</th>
        <th>Hs</th>
        <th>Responsable</th>
        <th>Horarios y Lugar</th>
      </tr>
      <tr>
        <td>Tópicos Avanzados en Programación Concurrente</td>
        <td>Obligatorio</td>
        <td>4 hs</td>
        <td>Dra. Nadina Martínez Carod</td>
        <td></td>
      </tr>
      <tr>
        <td>Análisis Estático de Programas Lógicos basado en Interpretación Abstracta</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Mg. Claudio Vaucheret</td>
        <td></td>
      </tr>
      <tr>
        <td>Reuso Orientado a Dominios</td>
        <td>Obligatorio</td>
        <td>4 hs</td>
        <td>Dra. Agustina Buccella</td>
        <td></td>
      </tr>
      <tr>
        <td>Desarrollo Basado en Arquitecturas</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Dra. Alejandra Cechich</td>
        <td></td>
      </tr>
      <tr>
        <td>Tópicos Avanzados en Pruebas de Software</td>
        <td>Obligatorio</td>
        <td>4 hs</td>
        <td>Dr. Andrés Flores</td>
        <td></td>
      </tr>
      <tr>
        <td>Computación Orientada a Servicios</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Dr. Martín Garriga</td>
        <td></td>
      </tr>
      <tr>
        <td>Ingeniería de Software Empírica</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Dr. Luis Reynoso</td>
        <td></td>
      </tr>
      <tr>
        <td>Gestión y Predicción de Consumo Energético en Cómputo de Altas Prestaciones</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Dr. Javier Balladini</td>
        <td></td>
      </tr>
      <tr>
        <td>Introducción al Gobierno Electrónico</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Mg. Juan Manuel Luzuriaga</td>
        <td></td>
      </tr>
      <tr>
        <td>Ontologías y Web Semántica</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Dra. Laura Cecchi</td>
        <td></td>
      </tr>
      <tr>
      <td>Tópicos Formales en Criptografía</td>
      <td>Obligatorio</td>
      <td>6 hs</td>
      <td>Mg. Gerardo Parra</td>
      <td></td>
    </tr>
      <tr>
        <td>Realidad Aumentada</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Mg . Carina Fracchia</td>
        <td></td>
      </tr>
      <tr>
        <td>Tópicos Avanzados en Redes Locales</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Mg. Claudio Zanellato</td>
        <td></td>
      </tr>
      <tr>
        <td>Métodos y Modelos Computacionales Aplicados</td>
        <td>Obligatorio</td>
        <td>6 hs</td>
        <td>Mg. Adair Martins</td>
        <td></td>
      </tr>

    </table>
-->
  </div>
</div>

</div>
</div>
