<!doctype html>
<html>
<body>

<div class="row-xs-12 row-sm-8 row-md-12 ">
  <div class="row-xs-12 row-sm-8 row-md-12 " >
    <nav id="header" class="col-xs-12 col-md-12 navbar navbar-fixed-top">
        <div  class="topnav col-xs-12 col-md-12" id="myTopnav">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link subir" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link " (click)="scrollTOElement('#elementTo',370,1000)"  [routerLink]="['/infogeneral']" >Información</a></li>
            <li class="nav-item"><a class="nav-link bajar" [routerLink]="['/requisitos']">Requisitos</a></li>
            <li class="nav-item"><a class="nav-link bajar" [routerLink]="['/cronograma']">Cronograma Cursos</a></li>
            <li class="nav-item"><a class="nav-link bajar" [routerLink]="['/arancel']"> Aranceles</a> </li>
            <li class="nav-item"><a class="nav-link bajar" [routerLink]="['/form']" >Inscripción</a></li>
          </ul>
          <a href="javascript:void(0);" class="icon" onclick="myFunction('topnav')">

          </a>
        </div>
    </nav>
  </div>

  <fondo-fondo></fondo-fondo>

  <titulo-titulo></titulo-titulo>

  <router-outlet id="elementTo"> </router-outlet>

  <piepagina-piepagina >  </piepagina-piepagina>

</div>
</body>
</html>

