
.navbar-brand {
  font-size: 15.5px;

}
.topnav{
 /* background-color: black;
  margin-left: -20px;
  width: 1500px;*/
}

.navbar-container {
  padding: 20px 0 20px 0;
  background-color: black;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-nav li a{
  color: rgb(220, 220, 220);
  font-family: Times;
  font-size: 17px;
}
.nav-link:hover{
  background-color: rgb(128, 128, 128);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}
.nav-link:focus{
  background-color: rgb(128, 128, 128);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
}

.navbar-brand.fixed-theme {
  font-size: 15.5px;
}

.navbar-container.fixed-theme {
  padding: 0;

}

.navbar-brand.fixed-theme
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,

.navbar-brand{
 color: lightgray;
}
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

@media screen and (max-width: 600px) {
  #header {
    background-color: transparent;
  }
  .navbar-nav li a{
    color: black;
  }
}




