<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<body>

<header class="style-3">
    <div class="titulorequi">
        <div class="container clearfix ">
            <div class="sixteen columns">
                <h1 class="titulorequi2" align="center">Aranceles</h1>
            </div>
        </div>
    </div>
</header>
<div class="all">
<div class="contenido">

    <div class="txt1"> Los aranceles para la Maestría en Ciencias de la Computación (Resolución Consejo Directivo FAIF Nº 004/2019) son los siguientes: </div>

    <ol>

        <li > El arancel estará dividido en 24 cuotas consecutivas de $3000 (pesos tres mil).</li>

        <li>Para los alumnos extranjeros el arancel estará dividido en 24 cuotas consecutivas de US$ 200 (dólares doscientos). </li>

        <li> Se aplicarán los siguientes descuentos: </li>

        <ul>

            <li> Docentes y no-docentes que trabajen en la Facultad de Informática (FAI) de la Universidad Nacional del Comahue (UNCo): 50%.</li>

            <li> Docentes de otras facultades UNCo u otras universidades nacionales argentinas y no-docentes que trabajen en UNCo: 30%.</li>

            <li> Egresados FAI: 10%.</li>

            <li> Becarios con dedicación exclusiva: 100% bonificados.</li>

        </ul>

        <li> Los valores mencionados corresponden al año 2019.</li>

        <li> Podrán acceder a la bonificación que cubra los aranceles de la Maestría al 100%, mediante nota al comité de posgrado:</li>

        <ul>

            <li> Docentes y no docentes que trabajen en la Facultad de Informática (UNCo).</li>

            <li> Becarios de Investigación con dedicación exclusiva y lugar de trabajo en la Facultad de Informática (UNCo).</li>

        </ul>

        <li> La renovación de la bonificación al 100% contemplada en el punto 5 será evaluada semestralmente por el Comité de Posgrado respecto al desempeño en la carrera.</li>

    </ol>
</div>
</div>
</body>