<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<body class="body">
<div class="fondotitulo row-xs-12 row-sm-12 row-md-12 ">

  <!--<div class="col-xs-12 col-sm-7 col-md-7 ">
    <h2 class="tit2">{{titulo2}}</h2>
    <h3 class="txt1" align="justify">{{texto}} <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="{{link1}}">
    {{"("+link1+")"}}</a></h3> <h3 class="txt1" align="justify">{{texto2}}</h3>
    <h3 class="txt1" align="justify">{{texto}} <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="{{link2}}">
      {{link2}}</a></h3>
    <h3 class="txt1" align="justify">{{texto3}}</h3>
  </div> -->
  <div class="col-xs-12 col-sm-12 col-md-7 ">
    <h2 class="tit2">{{titulo2}}</h2>
    <h3 class="txt1" align="justify"> La Carrera de Maestría en Ciencias de la Computación <a class="linkdescarga" href="../../assets/archivos de descarga/OrdenanzaAprobaciónMaestríaFai890" download="{{link1}}">
    {{link1}}</a>
    conduce al otorgamiento del título de Magister en Ciencias de la Computación.
    Certifica la destreza en el manejo conceptual y metodológico, correspondiente al estado actual del
    conocimiento en la disciplina del caso, según lo determina la<a class="linkdescarga" href="../../assets/archivos de descarga/ResMis_1168_97.pdf" download="{{link2}}">
        {{link2}}</a> del
    Ministerio de Cultura y Educación de la Nación.
      <br>
      Es una carrera de posgrado personalizada, de acuerdo con los términos de la <a class="linkdescarga" href="../../assets/archivos de descarga/Ordenanaza_510__211_263.pdf" download="{{link3}}">
        {{link3}}</a>, artículo 21, que determina las pautas de los planes de estudio personalizados en esta Universidad.
      Reconocimiento oficial provisorio del título otorgado por CONEAU (18/06/2018). 
      <br>
      <br>
      El carácter de la Maestría en Ciencias de la Computación es amplio y no está limitado al marco de un área de la Informática en particular.
      Abordará conocimientos que derivan de las áreas específicas de la disciplina Informática según la <a class="linkdescarga" href="../../assets/archivos de descarga/ResMis786_09.pdf" download="{{link4}}">
        {{link4}}</a>:
      Teoría de la Computación; Arquitectura, Sistemas Operativos y Redes; Ingeniería de Software, Bases de Datos y Sistemas de Información; y Algoritmos y Lenguajes.
    </h3>
  </div>

<div class="col-xs-12 col-sm-5 col-md-5 container contenedordeformu">
  <div class="row">
    <div class=" ctn">
      <div class="well well-sm ctn1">
        <form class="form-horizontal ctn2" (ngSubmit)="contactForm(form.value)" #form="ngForm" >
          <fieldset>
            <legend class="text-center header textinfo">Solicita información </legend>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
              <div class="col-md-11">
                <input id="nombre" type="text" placeholder="*Nombre" class="form-control" required ngModel name="nombre" >
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
              <div class="col-md-11">
                <input id="apellido"  type="text" placeholder="*Apellido" class="form-control" required ngModel name="apellido" >
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="	glyphicon glyphicon-envelope bigicon"></i></span>
              <div class="col-md-11">
                <input id="email" type="email" placeholder="*Email" class="form-control" required  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="25"  ngModel name="email">
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-file bigicon"></i></span>
              <div class="col-md-11">
                <textarea class="form-control " id="mensaje" rows="3" placeholder="*Mensaje" ngModel name="mensaje" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-md-12 text-center">
                <button type="submit" class="btn btn-info btn-lg" [disabled]="!form.valid">Quiero saber más</button>

              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
    <div class="txt3 col-xs-11 col-sm-11 col-md-11" align="justify">
        En la región Comahue en particular, la Maestría en Ciencias de la Computación es la primer oferta de
        posgrado en el área Informática, y como tal, tenderá a cubrir una importante necesidad en la formación
        de profesionales. El egresado de la Maestría en Ciencias de la Computación podrá transferir soluciones de
        problemas particulares a conceptos o metodologías generales, y aplicar conceptos generales de computación a
        la solución específica de problemas encontrados en el ámbito empresarial y de investigación, pudiendo realizar
        posteriormente, si lo desea, estudios doctorales en Informática.
    </div>
</div>
</body>
