<meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
<body>

<div class="fondotitulo col-xs-12 col-sm-12 cols-md-12 ">

  <!--<div class="col-xs-12 col-sm-7 col-md-7 ">
    <h2 class="tit2">{{titulo2}}</h2>
    <h3 class="txt1" align="justify">{{texto}} <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="{{link1}}">
    {{"("+link1+")"}}</a></h3> <h3 class="txt1" align="justify">{{texto2}}</h3>
    <h3 class="txt1" align="justify">{{texto}} <a class="linkdescarga" href="../../assets/fotos/Plandeestudio.pdf" download="{{link2}}">
      {{link2}}</a></h3>
    <h3 class="txt1" align="justify">{{texto3}}</h3>
  </div> -->
  <div class="col-xs-12 col-sm-12 col-md-7">
    <h3 class="txt1" align="justify">
        En la región Comahue, la Maestría en Ciencias de la Computación <a class="linkdescarga" href="../../assets/archivos de descarga/OrdenanzaAprobaciónMaestríaFai890" download="{{link4}}">
        {{link1}}</a>
        es la primera oferta de posgrado en el área Informática, y como tal, tenderá a cubrir una importante necesidad
        en la formación de profesionales. El egresado de la Maestría en Ciencias de la Computación podrá transferir
        soluciones de problemas particulares a conceptos o metodologías generales, y aplicar conceptos generales de
        computación a la solución específica de problemas encontrados en el ámbito empresarial y de investigación,
        pudiendo realizar posteriormente, si lo desea, estudios doctorales en Informática.
        <br>
        <br>
      El carácter de la Maestría en Ciencias de la Computación es amplio y no está limitado al marco de un área de la Informática en particular.
      Abordará conocimientos que derivan de las áreas específicas de la disciplina Informática según la
        <a class="linkdescarga" href="../../assets/archivos de descarga/ResMis786_09.pdf" download="{{link4}}">
        {{link4}}</a>:
      Teoría de la Computación; Arquitectura, Sistemas Operativos y Redes; Ingeniería de Software,
        Bases de Datos y Sistemas de Información; y Algoritmos y Lenguajes.
        <br>
        La Maestría en Ciencias de la Computación posee reconocimiento oficial provisorio del título otorgado por CONEAU (18/06/2018) y su correspondiente Resolución Ministerial (RESOL-2019-3594-APN-MECCYT)
    </h3>

  <!-- Boton de Preinscripcion Abierta---------------

    <div class="col-xs-12 col-md-12 botonescentrados">
      <button  type="button" class=" btn btn-info boton" id="boton2" (click)="scrollTOElement('#elementTo',370,1000)"  [routerLink]="['/form']">Pre-inscripciones abiertas</button>
    </div>

    -->

    <!-- Boton de inscripcion Abierta---------------  -->

    <div class="col-xs-12 col-md-12 botonescentrados">
      <button  type="button" class=" btn btn-info boton" id="boton2" (click)="scrollTOElement('#elementTo',370,1000)"  [routerLink]="['/form']">Inscripciones abiertas</button>
    </div>



  </div>

<div class="col-xs-12 col-sm-5 col-md-5 container ">
  <div class="row">
    <div class="ctn">
      <div class="well well-sm ctn1">
        <form class="form-horizontal ctn2" (ngSubmit)="contactForm(form.value)" #form="ngForm" >
          <fieldset>
            <legend class="text-center header textinfo">Solicita información </legend>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
              <div class="col-md-11">
                <input id="nombre" type="text" placeholder="*Nombre" class="form-control" required ngModel name="nombre" >
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-user bigicon"></i></span>
              <div class="col-md-11">
                <input id="apellido"  type="text" placeholder="*Apellido" class="form-control" required ngModel name="apellido" >
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="	glyphicon glyphicon-envelope bigicon"></i></span>
              <div class="col-md-11">
                <input id="email" type="email" placeholder="*Email" class="form-control" required  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" size="25"  ngModel name="email">
              </div>
            </div>

            <div class="form-group formu">
              <span class="col-md-1 col-md-offset-1 text-center"><i class="glyphicon glyphicon-file bigicon"></i></span>
              <div class="col-md-11">
                <textarea class="form-control " id="mensaje" rows="3" placeholder="*Mensaje" ngModel name="mensaje" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-xs-12 col-md-12 text-center">
                <button type="submit" class="btn btn-info btn-lg" [disabled]="!form.valid">Quiero saber más</button>

              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
</body>
