.fondotitulo{
  background-color: #f2f2f2;
  height: 1250px;
}

.bigicon {
  font-size: 20px;
  color: #36A0FF;
}

.btn{
  margin: 2px;
}

.colorNombre{
  color: white;
}

.tit2{
  margin-left: 0px;
  margin-top: 30px;
  text-align: center;
  font-size: 42px;
  color: rgb(0, 0, 0);
  font-family: Norasi, sans-serif;
  text-decoration: underline;
}

.txt1, .txt3{
  font-family: Norasi, sans-serif;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  font-size:20px;
}
.txt3{
  font-size: 19px;
}

.ctn{
  transform: scale(0.92);
  top: 25px;
  bottom: 85px;
  width: 340px;
  height: 400px;
  margin-left: 100px;
  margin-bottom: 60px;
}
.ctn2{
  background-color:  rgb(246, 247, 234);
  max-height: 2000px;
}
.ctn1{
  border: 2px solid;
}

.textinfo{
  font-family: Norasi, sans-serif;
  font-size: 27px;
}
.formu{
  margin-left: 10px;
}
#mensaje{
  resize: none;
}
h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media only screen and (max-width: 600px) {
  .body {
    height: 2750px;
  }
}
/*
@media only screen and (max-width: 600px) {
  .contenedordeformu{
    height: 1670px;
  }
  .txt3{
    margin-top: 80px;
    background-color: #f2f2f2;
    height: 300px;
  }
  .ctn1{
    transform: scale(0.88);
    margin-bottom: 30px;
  }
  .tit2{
    font-size: 35px;
  }
  .txt1{
    font-size: 18px;
  }
}
*/
/*
@media only screen and (max-width: 1000px) {
  .fondotitulo{
    height: 1885px;
  }
  .contenedordeformu{
    height: 1670px;
  }
  .ctn1{
    transform: scale(0.9);
  }
  .ctn{
    margin-left: 200px;
  }
  .tit2{
    font-size: 35px;
  }
  .txt1, .txt3{
    font-size: 18px;
  }
}
*/