
.texto{
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: medium;
}

.tituloinfo{
  background-color: #2d3246;
}
.tituloinfo2{
  font-size: 30px;
  color: white;
}
.container.clearfix > p {
  margin-bottom: 20px;
}

.logo-small {
  color: blue;
  font-size: 40px;
}
.logo-small2 {
  color: blue;
  font-size: 50px;
}

.todo{
  background-color:  #f2f2f2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.txt3{
  text-decoration: underline;
  font-family: Norasi, sans-serif;
}

.sub{
  font-family: Norasi, sans-serif;
}

.txt4{
  font-family: Norasi, sans-serif;
  font-size: 17.5px;
}

.txt5{
  font-family: Norasi, sans-serif;
  font-size: 21px;
}




@media screen and (max-width: 600px) {
  .ultimo{
    margin-left: 70px;
  }
}
/*
@media screen and (max-width: 1000px) {
  .ultimo{
    margin-left: 170px;
  }
}
*/