
<header class="style-3">
  <div class="page-title tituloinfo">
    <div class="container clearfix ">
      <div class="sixteen columns">
        <h1 class="tituloinfo2" align="center">{{subtitulo1}}</h1>
      </div>
    </div>
  </div>
</header>
<div class="todo col-xs-12 col-md-12">
<!-- Container (Services Section) -->
  <div class="tex">
<div class="col-xs-12 col-md-12 container-fluid text-center texto">

  <br>
  <h4 class="txt5">{{texto2}}</h4>
  <br>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-education logo-small2"></span>
      <h4 class="sub">{{subtitulo7.toLocaleUpperCase()}}</h4>
      <p class="txt4">
        La carrera de Maestría en Ciencias de la Computación conduce al otorgamiento
        del título de Magíster en Ciencias de la Computación. Certifica la destreza en el manejo
        conceptual y metodológico, correspondiente al estado actual del conocimiento en la disciplina del caso,
        según lo determina la <a class="linkdescarga" href="../../assets/archivos de descarga/ResMis_1168_97.pdf" download="{{link2}}">
        {{link2}}</a> del Ministerio de Cultura y Educación de la Nación.
      </p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-search  logo-small"></span>
      <h4 class="sub">{{subtitulo2}}</h4>
      <p class="txt4" >{{texto3}}</p>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-hourglass logo-small"></span>
      <h4 class="sub">{{subtitulo5}}</h4>
      <p class="txt4">{{texto6}}</p>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-calendar logo-small"></span>
      <h4 class="sub">{{subtitulo3}}</h4>
      <p class="txt4">
        El carácter de la Maestría en Ciencias de la Computación es amplio y no está limitado
        al marco de un área de la Informática en particular. Tendrá como orientaciones iniciales
        aquellas que derivan de las áreas específicas de la disciplina Informática según
        la <a class="linkdescarga" href="../../assets/archivos de descarga/ResMis786_09.pdf" download="{{link3}}">
        {{link3}}</a>: Teoría de la Computación; Arquitectura,
        Sistemas Operativos y Redes; Ingeniería de Software, Bases de Datos y Sistemas de Información; y Algoritmos y Lenguajes.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6 col-sm-6">
        <span class="glyphicon glyphicon-edit logo-small"></span>
        <h4 class="sub">{{subtitulo6}}</h4>
        <p class="txt4">{{texto7}}</p>
      </div>
    <div class="col-xs-6 col-sm-6">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4 class="sub">{{subtitulo4}}</h4>
      <p class="txt4">
        La Maestría en Ciencias de la Computación es una carrera de posgrado personalizada,
        de acuerdo con los términos de la  <a class="linkdescarga" href="../../assets/archivos de descarga/Ordenanaza_510__211_263.pdf" download="{{link1}}">
        {{link1}}</a>, artículo 21, que determina las pautas
        de los planes de estudio personalizados en esta Universidad. Comprende las actividades académicas
        necesarias para la realización de un trabajo de investigación y/o desarrollo conducente a la
        concreción de una Tesis de Maestría, con apego a un Plan de Trabajo de Tesis bajo supervisión, más un Plan de Formación.
      </p>
    </div>
  </div>
  </div>

</div>
  </div>


